.outer {
    text-align: center;
    max-width: 450px;
    margin: auto;
    padding: 0px;
    background: lightgrey;
    border: solid;
    border-radius: 5px;
}
.teksti1 {
    text-align: center;
    display: inline-block;
    margin-right: 50px;
}

.teksti2 {
    text-align: center;
    display: inline-block;
}

.numero1 {
    border-style: solid;
    width: 50px;
    height: 25px;
    text-align: center;
    display: inline-block;
    margin-right: 150px;
    color: blue;
}

.numero2 {
    border-style: solid;
    width: 50px;
    height: 25px;
    text-align: center;
    display: inline-block;
    color: green;
}

.seuraava {
    border-style: solid;
    width: 50px;
    height: 25px;
    display: table-cell;
    text-align: center;
    display: inline-block;
    color: red;
}

.omanumero {
    margin-left: auto;
    margin-right: auto;
}

.peruuta {
    color: red;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.arvio {
    position: relative;
    left: 105px;
    color: purple;
    font-size: 13px;
    text-align: center;
    display: inline-block;
}

.arvio2 {
    position: relative;
    left: 105px;
    color: purple;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    padding: 3px;
}

.login {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.navbar-default {
 
    background-color: rgb(46, 46, 46);
    border-color: #777;
    color: white;
 
}

.circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 4px;
    background: #fff;
    border: 2px solid blue;
    color: black;
    text-align: center;
    display: inline-block;
    }

.circle2 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 4px;
    background: #fff;
    border: 2px solid green;
    color: black;
    text-align: center;
    display: inline-block;
}
